# Server
PORT=4000
NODE_ENV=development

# PostgreSQL
PGHOST=localhost
PGPORT=5432
PGUSER=postgres
PGPASSWORD=your_postgres_password
PGDATABASE=isrs_capacity_building

# Auth
JWT_SECRET=change_this_to_a_long_random_string
JWT_EXPIRES_IN=8h

BREVO_API_KEY=your_brevo_api_key_here
MAIL_FROM_EMAIL="CAPACITY BUILDING <no-reply@gmail.com>"
MAIL_FROM_NAME=Green Starz Impakt Hub

# App
APP_BASE_URL=http://localhost:4000
